{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static './pages/index.css' %}">
{% endblock %}
{% block content %}
        <div class="main__header">
            <h1 class="main__title">Об авторе</h1>
            <li class="nav__item"><a class="nav__link link">Проект подготовлен студентом 10-й когорты бэкенд-факультета Яндекс-Практикума Виталием Холодовым. </a></li>
            <li class="nav__item"><a href="{% url 'index' %}" class="nav__link link">Вернуться на главную</a></li>
          </div>
       
{% endblock content %}