{% extends "base.html" %} 
{% block title %} Технологии {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static './pages/index.css' %}">
{% endblock %}
{% block content %}

<main role="main" class="container">
<div class="row">
  <div class="col-md-12">
    <h1>Технологии</h1>
    <p class="lead">В проекте используются следующие основные пакеты:<br>
        Python 3.7<br>
        Django 2.2<br>
        Django REST framework 3.11.0<br>
        Djangorestframework-simplejwt 4.6.0<br>
        Gunicorn 20.0.4<br>
        Psycopg2-binary 2.8.5<br>
        Docker 20.10.5<br>
        Nginx 1.19.9<br>
        PostgreSQL 12.6<br>
    </p>
    <p class="lead"><a href="{% url 'index' %}">Вернуться на главную</a></p>
  </div>
</div>
</main>

{% endblock %} 