{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static './pages/index.css' %}">
{% endblock %}
{% block content %}
        <div class="main__header">
            <h1 class="main__title">Технологии</h1>
          </div>
          <div class="main__header">
            <li class="nav__item"><a class="nav__link link">В проекте используются следующие основные пакеты:<br>
              Python 3.7<br>
              Django 2.2<br>
              Django REST framework 3.11.0<br>
              Djangorestframework-simplejwt 4.6.0<br>
              Gunicorn 20.0.4<br>
              Psycopg2-binary 2.8.5<br>
              Docker 20.10.5<br>
              Nginx 1.19.9<br>
              PostgreSQL 12.6<br></a></li>
          </div>
          <div class="main__header">
            <li class="nav__item"><a href="{% url 'index' %}" class="nav__link link">Вернуться на главную</a></li>
          </div>
       
{% endblock content %}