{% extends "base.html" %} 
{% block title %} Об авторе {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static './pages/index.css' %}">
{% endblock %}
{% block content %}

<main role="main" class="container">
<div class="row">
  <div class="col-md-12">
    <h1>Об авторе</h1>
    <p class="lead">Проект подготовлен студентом 10-й когорты бэкенд-факультета Яндекс-Практикума Виталием Холодовым. </p>
    <p class="lead"><a href="{% url 'index' %}">Вернуться на главную</a></p>
  </div>
</div>
</main>

{% endblock %} 