{% load user_filters %}
<div class="card-user" data-author="{{ idol.id }}">
    <div class="card-user__header">
        <h2 class="card-user__title">{{ idol.first_name }} {{ idol.last_name }}</h2>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in idol.recipe.all|slice:":3" %}
            <li class="card-user__item">
                <div class="recipe">
                    {% load thumbnail %}
                    {% thumbnail recipe.image "1000x1000" crop="center" upscale=True as im %}
                    <a href="{% url 'recipe_detail' recipe.id %}" class="link" target="_blank"><img src="{{ im.url }}" alt="Какой-то текст" class="recipe__image"></a>
                    {% endthumbnail %}
                    <h3 class="recipe__title">{{recipe.name}}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{recipe.cooking_time}} мин.</p>
                </div>
            </li>
            {% endfor %}
            {% if idol.recipe.all|length > 3 %}
                <li class="card-user__item">
                        <a href="{% url 'author_page' idol.id %}" class="card-user__link link">
                            Ещё {{ idol.recipe.all|length|add:"-3" }} {{ idol.recipe.all|length|changing_recipes }}
                        </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-user__footer">
        <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
    </div>
</div>